

.logo{
    display: block;
    width: 100%;
    align-content: center;
}

.logo .log1{
    display: block;
    width: 30%;
    margin-left: 430px;
    padding-top: 8%;
}

/*.hero{
   position: fixed;
   z-index: -1;  
   width: 100%;
   height: 100vh;
    background-image: url("images/18.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}*/

.bg-video {
    position: fixed;       /* stays in place as you scroll */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;     /* ensures the video covers the whole screen */
    z-index: -1;           /* behind all content */
    pointer-events: none;  /* clicks pass through the video */
}

.dis1{
    display: flex;
    width: 100%;
    color: #FFFF00;
    font-family:cursive, Geneva, Tahoma, sans-serif;
}

.disT1{
    margin-right: 0px;
}

.AR1{
    display: block;
   width: 100%;
   float: left;
   margin: 0px;
   padding-left: 30px;
}

table{
    width: 60%;
    border-collapse: separate;
    border-radius: 10px;
    float: right;
    margin: 20px auto;
}


td {
            border: 1px solid #D4AF37;
            padding: 10px;
            text-align: center;
            opacity: ;
}

th {
            border: 1px solid #D4AF37;
            padding: 10px;
            text-align: center;
}

.i1{
   width: 200px;
}

.i2{
   width: 200px;
}

.i3{
   width: 200px;
}

.j1{
   max-width: 200px; 
}

.j2{
   max-width: 200px; 
}

.j3{
   max-width: 200px; 
}

.k1{
   max-width: 200px; 
}

.k2{
   max-width: 200px; 
}

.k3{
   max-width: 200px; 
}

.vid {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 810px) {
   
   * {
  box-sizing: border-box;
}

#body{
     width: 100%;
     height: auto;
    position:absolute;
    display: block;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
 }

 header{
   width: 100%;
   
 }

.logo .log1 {
    width: 30%;
    margin: 0 auto;
    padding-top: 8%;
}

 .dis1{
   width: 100%;
   display: block;
 }

 .AR1{
    justify-content: center;
   align-items: center;
   width: 80%;
   display: block;
   padding-left: 20px;
   padding-right: 20px;
   text-align: center;
 }

 .disT1{
   width: 70%;
   float: none;
   padding-left: 20px;
    padding-right: 20px;
 }

 
.i1{
   width: 60px;
}

.i2{
   width: 60px;
}

.i3{
   width: 60px;
}

.j1{
   max-width: 60px; 
}

.j2{
   max-width: 60px; 
}

.j3{
   max-width: 60px; 
}

.k1{
   max-width: 60px; 
}

.k2{
   max-width: 60px; 
}

.k3{
   max-width: 60px; 
}

article h2{
   font-size: 18px;
}

article p{
   display: none;
   font-size: 10px;
}

table {
    width: 100%;
    float: none;
}

}






